<component name="libraryTable">
  <library name="spring-aop">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-aop/aopalliance.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-aop/aspectjrt.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-aop/aspectjweaver.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-aop/spring-aop-3.2.5.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>